@use 'src/styles/vars';

.service {
 
    display: flex;
    flex-direction: row;
   
    img {
        width: 390px;
        padding: 1.5em;
        border-radius: 40px;
        border: 0;
    }
    .service-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1em;
        color:vars.$font-color-white;
        .number {
            border: 3px solid vars.$coquelicot;
            padding: .2em .5em;
            color: vars.$coquelicot;
            font-size: 2em;
            border-radius: 50%;
            font-family: Arial, Helvetica, sans-serif;
           
        }
        h3 {
            font-size: 2em;
            margin: 1.5em auto;
        }
        p {
            font-size: 1.5em;
        }
    }
    }
    
.service--mob {
    
    display: flex;
    flex-direction: column-reverse;
    img {
        margin: 1em auto;
        width: 95%;
        border-radius: 15px;
    }
    .service-container {
        color: vars.$font-color-white;
        margin: 1em 0 0 0;
        padding: 1em;
        h3 {
            font-size: 2em;
            margin: 1.5em auto;
        }
        p {
            font-size: 1.5em;
            line-height: 1.2em;
        }
    }
}
